/* Coolors Exported Palette - https://coolors.co/000000-ff4b01-faa000-3e4749-879499-ffffff */

/* CSS HEX */
--black: #000000ff;
--aerospace-orange: #ff4b01ff;
--orange-peel: #faa000ff;
--outer-space: #3e4749ff;
--cadet-gray: #879499ff;
--white: #ffffffff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--aerospace-orange: hsla(17, 100%, 50%, 1);
--orange-peel: hsla(38, 100%, 49%, 1);
--outer-space: hsla(191, 8%, 26%, 1);
--cadet-gray: hsla(197, 8%, 56%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$black: #000000ff;
$aerospace-orange: #ff4b01ff;
$orange-peel: #faa000ff;
$outer-space: #3e4749ff;
$cadet-gray: #879499ff;
$white: #ffffffff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$aerospace-orange: hsla(17, 100%, 50%, 1);
$orange-peel: hsla(38, 100%, 49%, 1);
$outer-space: hsla(191, 8%, 26%, 1);
$cadet-gray: hsla(197, 8%, 56%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$aerospace-orange: rgba(255, 75, 1, 1);
$orange-peel: rgba(250, 160, 0, 1);
$outer-space: rgba(62, 71, 73, 1);
$cadet-gray: rgba(135, 148, 153, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);
$gradient-radial: radial-gradient(#000000ff, #ff4b01ff, #faa000ff, #3e4749ff, #879499ff, #ffffffff);